*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #7E3DB7;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
     width: 20%;
     padding: 24px 0 ;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font: optional 24px;
}